# Pandas Tutorial

You can download this notebook at [goo.gl/NMHYnw](goo.gl/NMHYnw)

This tutorial is based on the tutorial given by [Brandon Rhodes at PyCon 2015](https://www.youtube.com/watch?v=5JnMutdy6Fw).

I will also include exercises to help solidfy concepts.

Let's import pandas, numpy, and matplotlib

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline

We will save this slice as a seperate DataFrame.

DataFrames are made up of columns (in this case our column labels are name, mfr, type, calories, etc.). When you pull out a column, the column is called a "Series". There are two ways we can look up a column. We can use key notation (like dictionaries), or attribute lookup using a period.

Performing math operations will apply an operation to the whole Series.

#### Exercise:

1. Return a list of booleans (True and Falses) for cereals that have exactly 70 calories

### Filtering

How can we use the above operation to get the rows that we want? For example, how can we get rows where calories are greater than 100?

Answer: We can feed a list of booleans (Trues and Falses) to get certain rows we want.

Here is essentially the same code

We can use & and | operators for more complex conditioning.

#### Exercise:

1. Return all observations for cereals that have exactly 70 calories

#### Exercise:

1. Return a Series that tells how much potassium is contained in one cup of each cereal.

### Sorting

#### Exercise:

1. Sort (in descending order) the cereal dataset by rating.

### String Operations (using .str attribute)

#### Exercise:

1. Find all cereals that contain the word Bran.
2. Find all cereals that contain the word Bran, and that are manufactured by Kelloggs (K).

## Exploring the data

### value_counts 

We can see that frequencies (specifically counts) of a column using the .value_counts() method. Notice that the output is a series.

#### Exercise:

1. Return the value counts for type of cereal.

### Data Visualization

Pandas has some built in plotting functions

#### Plotting on Series

#### Plotting on DataFrame

#### Exercise

1. Using a scatter plot, plot the relationship between sugars and calories.

### Indexing

You may want to reset index. We can use .reset_index() method

### Group By: split-apply-combine

Get a "group" of information, and aggregate it or modify it.

You can groupby a series that isn't even in a table.

Look into the following methods (usually used on groupby objects):
- .apply()
- .agg()
- .transform()

Time series methods (usually used on groupby objects):
- .rolling()
- .shift()
- .ffill()
- .bfill()

### Joining DataFrames

In [11]:
sales = pd.DataFrame({'mfr':['A','G','K','N','P','Q','R'],'sales':[20,500,600,40,70,80,70]})
sales

  mfr  sales
0   A     20
1   G    500
2   K    600
3   N     40
4   P     70
5   Q     80
6   R     70

### Exercise

Merge cereal with sales dataframe (defined below)

### Advanced Pandas